.inline_dropdown .question_prompt {
  text-align: left;
  padding-bottom: 20px;
}

.inline_dropdown .feedback {
  text-align: left;
  padding-bottom: 20px;
}

.inline_dropdown .hint {
  text-align: left;
  padding-bottom: 20px;
}

.inline_dropdown .reset_button {
	height: 40px;
	vertical-align: middle;
	font-weight: 600;
}

.inline_dropdown .hint_button {
	height: 40px;
	vertical-align: middle;
	font-weight: 600;
}

.inline_dropdown .check_button {
	height: 40px;
	vertical-align: middle;
	font-weight: 600;
}

.inline_dropdown .problem_progress {
    display: inline-block;
    padding-left: 5px;
    color: #666;
    font-weight: 100;
    font-size: 1em;
}

.inline_dropdown .problem_header {
    display: inline-block;
}

.inline_dropdown .correct {
    color: #1d9348;
}

.inline_dropdown .incorrect {
    color: #b2060e;
}

.inline_dropdown .feedback_number_correct {
    color: #1d9348;
    position: relative; 
    top: -0.5em; 
    font-size: 80%;
    font-weight: bold;
}

.inline_dropdown .feedback_number_incorrect {
    color: #b2060e;
    position: relative; 
    top: -0.5em; 
    font-size: 80%;
    font-weight: bold;
}
