<!-- chat/templates/chat/room.html -->
{% extends 'chat/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block content %}
    <div style="background-color:#E4CCBC; flex:1; flex-direction: row; justify-content: center; align-items: center">
        <video width="700" height="700" controls autoplay>
            <source src="{% static "video/metatutor MC.mp4" %}" type="video/mp4">
        </video>
    </div>
{% endblock %}


{% block scripts %}
<script>
</script>
{% endblock %}
</html>