# OS junk files
.DS_Store
**/.DS_Store
.idea/
.classpath
**/.classpath

# Project files
*.class
.*log
Tutors/Algebra/SimStAlgebraV8/foil-log/*
APLUS/java/**/*.log
Tutors/Algebra/SimStAlgebraV8/log/*
Tutors/Algebra/SimStAlgebraV8/**/*.account
APLUS/java/*.log
Tutors/Algebra/SimStAlgebraV8/*.bload
Tutors/Algebra/SimStAlgebraV8/*.class
APLUS/java/bin/edu/cmu/pact/Log/*
APLUS/java/reports/ctat/*
Tutors/Algebra/SimStAlgebraV8/*

Tutors/Algebra/bin/*
Tutors/Algebra/test/bin/*

StudyManagementSystem/Deploy/data
