html
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	
	overflow: hidden;
}

body
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	
	overflow: hidden;
	
	text-align: center;
		
	-webkit-box-shadow: inset 0px 0px 25px 9px rgba(0,0,0,0.16);
	-moz-box-shadow: inset 0px 0px 25px 9px rgba(0,0,0,0.16);
	box-shadow: inset 0px 0px 25px 9px rgba(0,0,0,0.16);	
}

.blocker
{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	padding: 0px; 
	margin: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 1000; 
	
	background: rgba(255,255,255,0.5);
}

.solidblocker
{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	padding: 0px; 
	margin: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 1000; 
	
	background: rgba(255,255,255); /* Old browsers */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */	
}

