<!DOCTYPE html>

<html>
    <head>
	<title>CTAT HTML5 Tutor Template</title>

	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<script src="jquery/jquery-1.9.0.min.js"></script>
	
	<script src="ctatloader.js"></script>

	<style type="text/css">
	html
	{
		margin: 0;
		padding: 0;
		width: 100%;
		height:100%;
		text-align: center; /* !!! */
		background-color:#cccccc;
	}
	
	body 
	{
		margin: 0;
		padding: 0;
		width: 100%;
		height:100%;		
		text-align: center; /* !!! */
		background-color:#cccccc;
	}
	</style>			
	
	<script language="javascript">

	// No need to set the target since this is a default template and the default target is CTAT
	// If you need a different target then set the variable below. Supported targets are:
	// OLI, LTI, SCORM, CTAT
	// CTATTarget="CTAT";
	
	/**
	* This function is called from the ctatloader javascript file whenever the tutor
	* has finished it's startup phase. The tutor might still be loading but at this
	* point the page is ready and can be interacted with.
	*/
	function init()
	{
		console.log ("init ()");
		
	}
	
	</script>

    </head>
    <body>

        <table cellpadding="0" cellspacing="0" width="100%" height="100%" border="1">
            <tr>
                <td align="center" valign="middle">  

					<div style="width: 558px; height: 400px; background: #f5f5f2; border: 1px solid #000000;">
					
						<div style="position: relative; top: 50%; transform: translateY(-50%);text-align: center;  font-family:Arial; color: #cccccc; font-size: 24pt; margin: auto; padding: 0px; border: 0px solid #dddddd">
						Tutor Goes Here
						
							<div id="container" name="container" class="container">
								<canvas id="main-canvas" width="320" height="200">Your browser does not support CTAT. Please update or replace your browser.</canvas>
							</div>
						
						<div>
					
					</div>				
				
                </td>
            </tr>
        </table>
</body>
</html>
