<!DOCTYPE html>

<html>
    <head>
	<title>CTAT HTML5 Tutor</title>

	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta property="og:title" content="Share your tutors on the web!">
	<meta property="og:site_name" content="CTAT">
	<meta property="og:description" content="Share tutors with fellow students or build your own.">
	<meta property="og:type" content="Website">	
	<meta property="og:image" content="http://augustus.pslc.cs.cmu.edusrc/logo.png">

	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">

	<script type="text/javascript" src="jquery/jquery-1.9.0.min.js"></script>

	<!-- Required CTAT libraries -->
	<script type="text/javascript" src="http://augustus.pslc.cs.cmu.edu/html5/ctatjslib/ctat-html5.js"></script>
	<!-- Required CTAT Library if you want example tracing to run in the browser -->
	<!-- <script type="text/javascript" src="ctatjslib/ctat-tracer.js"></script> -->

	<style type="text/css">
		body, html
		{
			margin: 0;
			padding: 0;
			text-align: center; /* !!! */
			background-color:#cccccc;
			width: 100%;
			height: 100%;
		}

		.container 
		{ 
			width: 320px; 
			height: 200px; 		  
			box-shadow: 10px 10px 5px #888888;
			z-index: 0;
			position: relative;
			margin: auto;
			vertical-align: middle;
		}

		canvas
		{
			border: 1px solid black; 
			background-color: #ffffff;
			z-index: 1;
			position: relative;		
		}
	</style>

	<script language="javascript">

	var FlashVars =
	{
		admit_code: "ies",
		authenticity_token: "none",
		auth_token: "none",
		BehaviorRecorderMode: "'AuthorTimeTutoring",
		class_name: "Default Class",
		curriculum_service_url: "none",
		dataset_level_name: "none",
		dataset_level_type: "ProblemSet",
		dataset_name: "none",
		expire_logout_url: "none",
		info: "",
		instructor_name: "none",
		instrumentation_log: "off",
		lcId: "none",
		Logging: "ClientToService", // 'ClientToService' or 'ClientToLogServer'
		log_service_url: "http:pslc-qa.andrew.cmu.edu/log/server",
		problem_name: "none",
		problem_position: "none",
		problem_started_url: "none",
		problem_state_status: "empty", //  'empty', 'complete', or 'incomplete'
		question_file: "http://augustus.pslc.cs.cmu.edu/html5/HTML5TestFiles/HTML5TabOrder2.brd",
		refresh_session_url: "none",
		remoteSocketPort: "8080",
		remoteSocketURL: "127.0.0.1",
		restore_problem_url: "none",
		reuse_swf: "false",
		run_problem_url: "none",
		school_name: "none",
		SessionLog: "true",
		session_id: "none",
		session_timeout: "none",			
		skills: "",
		source_id: "'FLASH_PSEUDO_TUTOR",
		student_interface: "none",
		student_problem_id: "none",
		study_condition_name: "none",
		study_condition_type: "none",
		study_conditon_description: "none",
		study_name: "Study1",
		target_frame: "none",
		TutorShopDeliveryMethod: "sendandload",
		user_guid: "none",
		wmode: "opaque",
		log_to_disk_directory: "none",
		DeliverUsingOLI: "none",
		ssl: "off",
		sui: ""
	};
	</script>

    </head>
    <body onload='initTutor();'>

        <table cellpadding="0" cellspacing="0" width="100%" height="100%" border="0" style="vertical-align: middle;">
            <tr>
                <td id="table element" align="center" valign="middle">  
                    <div id="container" name="container" class="container">
                        <canvas id="main-canvas" width="320" height="200">Your browser does not support CTAT. Please update or replace your browser.</canvas>
                    </div>											
                </td>
            </tr>
        </table>

		<!--
        <script>
            prepTutorArea();
        </script>
		-->
</body>
</html>
