     <!-- question-block class: {% if self.user_choice %}
     class="attempted {%if self.correct %}correct{% else %}incorrect{% endif %}"{% endif %} -->
    <br/>
    <h3 class="hd hd2 problem-header"> {{self.display_name}} </h3>
    <br/>
    
    <form id="question-block">
    <h4>{{ self.question }}</h4>
    <br/>
    {% if self.image_url != '' %}
        <img src="{{self.image_url}}" style="width: 80%" />
    {% endif %}
    <div id="answers">
       <span class='textanswer'>Answer:</span> &nbsp;<input id='userAnswer' type='text' size='25'/>
    </div>
    <br/> 
    {% if self.hint != '' %}
    <div class="hint-block">
        <span title="Get Hint"></span>
        <span id='hint'></span>
    </div>
    {% endif %}
    <br/>
    <input type="button" id="submit" value="Check"  /> 
    &nbsp; &nbsp; 
    {% if self.hint != '' %}
    <input type="button" id="getHint" value="Hint" />
    {% endif %}
 </form>