.icon-blank{
	background:url('images/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('images/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('images/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('images/edit_remove.png') no-repeat center center;
}
.icon-new{
	background:url('images/gtk-new.png') no-repeat center center;
}
.icon-open{
	background:url('images/gtk-open.png') no-repeat center center;
}
.icon-save{
	background:url('images/gtk-save.png') no-repeat center center;
}
.icon-saveas{
	background:url('images/gtk-save-as.png') no-repeat center center;
}
.icon-cut{
	background:url('images/gtk-cut.png') no-repeat center center;
}
.icon-ok{
	background:url('images/ok.png') no-repeat center center;
}
.icon-no{
	background:url('images/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('images/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('images/reload.png') no-repeat center center;
}
.icon-search{
	background:url('images/search.png') no-repeat center center;
}
.icon-print{
	background:url('images/print.png') no-repeat center center;
}
.icon-help{
	background:url('images/help.png') no-repeat center center;
}
.icon-undo{
	background:url('images/gtk-undo-ltr.png') no-repeat center center;
}
.icon-redo{
	background:url('images/gtk-redo-ltr.png') no-repeat center center;
}
.icon-back{
	background:url('images/back.png') no-repeat center center;
}
.icon-sum{
	background:url('images/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('images/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('images/filter.png') no-repeat center center;
}


.icon-mini-add{
	background:url('images/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('images/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('images/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('images/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('images/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('images/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('images/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('images/large_chart.png') no-repeat center center;
}

.icon-br{
	background:url('images/graph.png') no-repeat center center;
}
.icon-javascript{
	background:url('images/javascript.png') no-repeat center center;
}
.icon-fullscreen{
	background:url('images/fullscreen.png') no-repeat center center;
}

.icon-moodle{
	background:url('images/moodle.png') no-repeat center center;
}
.icon-embed{
	background:url('images/embedicon.png') no-repeat center center;
}
.icon-sharethis{
	background:url('images/share.png') no-repeat center center;
}
.icon-zip{
	background:url('images/zip_icon.gif') no-repeat center center;
}


.icon-popout{
	background:url('images/normalize.gif') no-repeat center center;
}

.icon-maximize{
	background:url('images/maximize.gif') no-repeat center center;
}

.icon-minimize{
	background:url('images/minimize.gif') no-repeat center center;
}
