<img class="windowclose" src="css/images/icon_close.png" style="margin: 0px; padding: 3px; width: 20px; height: 20px; float: right;">
<h4 class="title" id="group-dialog-title">Create Group</h4>	
<div class='ctatcontent'  style='clear: right; background-color: #D0D0D0; font-size: 16px;'>
	<input id='group-dialog-name' type='text' placeholder="Group ID">
	<div id='group-dialog-member-container'>
		<ul id='group-dialog-member-list'>
			
		</ul>
	</div>
	<span>
		<input id='group-dialog-id-field' placeholder='Component ID' type='text'>
		<button id='group-dialog-add-member'>+</button>
	</span>
</div>
<div class="divTable">
	<div class="divTableBody">				
		<div class="divTableRow">
			<div class="divTableCell" style="width: 80px;">&nbsp;</div>
			<div class="divTableCell" style="margin-top: 5px; margin-right: 10px; float: right;" align="right">
				<button id="group-dialog-delete">Delete Group</button>
				<button id="group-dialog-confirm">Save Group</button>
				<button id="group-dialog-cancel">Cancel</button>
			</div>
		</div>				
	</div>
</div>