/CanBeSimplified.class
/CanComplexFractionBeSimplified.class
/IsComplexFractionChunkComplex.class
/IsComplexFractionChunkImproper.class
/IsComplexFractionChunkProper.class
/IsEmpty.class
/IsEquivalentFraction.class
/IsGoalAdd.class
/IsGoalComplex.class
/IsGoalReduce.class
/IsGoalSimplify.class
/IsImproperFraction.class
