/GetFirstInteger.class
/GetFirstIntegerBeforeLetter.class
/GetFirstIntegerBeforeLetterWithoutSign.class
/GetFirstIntegerWithoutSign.class
/GetFirstNearestInteger.class
/GetFirstNearestIntegerWithoutSign.class
/GetOperandWithoutSign.class
/GetSecondInteger.class
/GetSecondIntegerBeforeLetter.class
/GetSecondIntegerBeforeLetterWithoutSign.class
/GetSecondIntegerWithoutSign.class
/GetSecondNearestInteger.class
/GetSecondNearestIntegerWithoutSign.class
/IncreaseTerm.class
/IsPositive.class
/TermGrabber.class
