     <!-- question-block class: {% if self.user_choice %}
     class="attempted {%if self.correct %}correct{% else %}incorrect{% endif %}"{% endif %} -->
<div id="border">
    <div class="course_info" hidden>{{self.section}}+{{self.subsection}}+{{self.unit}}+{{self.nextUnit}}+{{self.preUnit}}</div>
   <span class="skillname" hidden>{{ self.kc }}</span>
    {% if self.display_name != '' %}

    <h3 class="hd hd2 problem-header"> <span style="font-family: Times; font-size: 28px; line-height: 130%">{{self.display_name}} </span></h3>
    <br/>
    {% endif %}

    {% if self.image_url != '' %}
        <img src="{{self.image_url}}" style="width: {{self.image_size}}" />
    {% endif %}

    <form id="question-block">
     <h4><span style="font-family: Times; font-size: 25px; line-height: 160%">{{ self.question_string | safe}}</span></h4>
    <br/>

    <div id="answers">
       <!--<span class='textanswer'>Answer:</span> &nbsp;
       <span style="font-family: Times; font-size: 20px; ">
         <input id='userAnswer' type='text' size='25' name="text_box_answer" autocomplete="off"/>
       </span> -->
    </div>
    <br/>

    <div class="hint-block">
        <span title="Get Hint"></span>
        <span id='hint' style="font-family: Times; font-size: 19px;"></span>
    </div>

    <br/>
    <input type="button" id="submit" value="Check"  /> 
    &nbsp; &nbsp; 
    {% if self.hint != '' %}
    <input type="button" id="getHint" value="Hints" />
    {% endif %}
 </form>
</div>