body 
{
	/*background: #ffffff url(GoogleApps/layout_grid.gif) center top;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow:hidden;
}
	
.container 
{ 
	z-index: 0;
	position: relative;
	margin: 0px;
	vertical-align: middle;
}
	
canvas
{
	/*border: 1px solid black; */
	background-color: #ffffff;
	z-index: 1;
	position: relative;		
}

.manualcontrols
{
   /*display: none;*/
}

/* CTAT Hint Window Button styling */
.CTAT-hint-window--hintcontent { /* Hint window content (eg) hints */
	text-align: left;
	padding: 2px;
	width: 100%;
	overflow: auto;
	background: white;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	cursor: default;
	height: 154px; /* This will need to be changed if the hint window height is changed. */
	margin-bottom: 5px;
}
