edu.cmu.pact.miss.userDef.topological.Distinctive
edu.cmu.pact.miss.userDef.topological.table.SameRow
;; edu.cmu.pact.miss.userDef.topological.table.SameColumn
edu.cmu.pact.miss.userDef.topological.table.SameTable
edu.cmu.pact.miss.userDef.topological.table.ConsecutiveRow
;; edu.cmu.pact.miss.userDef.topological.table.ConsecutiveColumn
edu.cmu.pact.miss.userDef.topological.table.ConsecutiveTable
