#palette-head
  button#palette-minimize -
  h1.title1 Components
.component-palette-container#silex-component-palette-container
  .main-container
    .component-list#silex-component-palette-list-html
      h4 HTML
    .component-list#silex-component-palette-list-ctat-std
      h4 CTAT Standard
    .component-list#silex-component-palette-list-ctat-comp
      h4 CTAT Composite