html {
height: 100%;
margin-bottom: 0.01em;
}

#wrap { 
width: 950px; 
margin: 0 auto; 
}

#title{
display:block;
width:100%;
float:left;
height:5%;
text-align: center;
background-color:white;
}

#title h1{
font-size:25px;
padding:0;
color:blue;
margin:0;
}

#left{
width:105px;
height:65%;
float:left;
background-color:white;
}

#canvas{
width:693px;
height:65%;
float:left;
border: 1px solid #95B8E7;
text-align:center;
background:url('../images/canvas.png');
}

#right{
width:142.5px;
height:65%;
float:left;
padding-left:3px;
text-align:center;
background-color:white;
}

#operations{
width:100%;
height:20%;
float:left;
background-color:white;
padding-top:8px
}