	<img class="windowclose" src="css/images/icon_close.png" style="margin: 0px; padding: 3px; width: 20px; height: 20px; float: right;">
	<h4 class="title" style="margin: 5px;">Create Package</h4>
	<div class="content" >
		Enter information below to create a new package, or <button id="create-package-savetoexisting">Save to Existing</button>
		Package Name: <input type="text" id="create-package-pkgname" name="create-package-pkgname">
		</br>
		Interface Name: <input type="text" id="create-package-interfacename" name="create-package-interfacename">
		</br>
	</div>
	<button id='create-package-cancel'>Cancel</button>
	<button id='create-package-confirm'>Create</button>