/* CSS for McqsXBlock */

.mcqs_block{
    padding: 10px;
}



#submit{
    width:150px;
    height:40px;
    margin-top: 10px;
    font-size: 18px;
}

#getHint{
    width:150px;
    height:40px;
    margin-top: 10px;
    font-size: 18px;
}

#choices > div{
    border: 1px solid #eeeeff;
}
#choices label {
    cursor: pointer;
    display: block;
    padding: 10px;
    margin: 10px;
    
    
    /*
    outline: 2px solid lightgray;
    border: 2px solid lightgray;
    border-radius: 3px;
    */
}
#choices label:hover{
    background-color: #EFEFEF;
}

.incorrect {
    border: 2px solid red;
}

.correct {
    border: 2px solid green;
}


.hint-block {
    font-size: 14px;
    margin: 10px;
}

.help-tip{
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: pointer;
    display: inline-block;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.tick
{
    position: relative;
    width: 22px;
    height: 22px;
    color: green;
    content: "&#x2714";
}

.ballot {
    position: relative;
    width: 22px;
    height: 22px;
    color: red;
    content: "&#x2714";
}

.addBorder {
    outline: 2px solid cornflowerblue;
    /*
    border-width: medium;
    border-style: solid;
    border-color:cornflowerblue;
    border-radius: 3px;
    */
}



