<img class="windowclose" src="css/images/icon_close.png" style="margin: 0px; padding: 3px; width: 20px; height: 20px; float: right;">
<h4 class="title" id="mult-choice-title">New Question</h4>	
<div class='ctatcontent'  style='clear: right; background-color: #D0D0D0; font-size: 16px;'>
	<textarea id='mult-choice-name' type='text' placeholder="Question ID" rows="1"></textarea> 
	<textarea id='mult-choice-question' placeholder = 'enter question here...' style="width: 100%; height: 30%"></textarea>
	<b style='font-size: 13px;'>Number of Options:</b><input id='mult-choice-num-options' maxlength = '2'> 
	</br>
	<label for='mult-choice-mult-selection'><b style='font-size: 13px;'>Allow Multiple Selections:</b></label>
	<input id = 'mult-choice-mult-selection' type="checkbox">
	</br>
	<label for='mult-choice-grade-immediate'><b style='font-size: 13px;'>Grade Immediately on Selection:</b></label>
	<input id = 'mult-choice-grade-immediate' type="checkbox">
	</br>
	<label for='mult-choice-include-submit'><b style='font-size: 13px;'>Include Submit Button: </b></label>
	<input id='mult-choice-include-submit' type='checkbox'>
	<ul id='mult-choice-answer-list'>
		<li><textarea class = 'mult-choice-answer' type="text" placeholder="option 1" rows="1"></textarea></li>
		<li><textarea class = 'mult-choice-answer' type="text" placeholder="option 2" rows="1"></textarea></li>
		<li><textarea class = 'mult-choice-answer' type="text" placeholder="option 3" rows="1"></textarea></li>
		<li><textarea class = 'mult-choice-answer' type="text" placeholder="option 4" rows="1"></textarea></li>
	</ul>
	<div id="mult-choice-font-box">
		<h4 style="text-align: center;">Font</h4>
		<div class='inner-content'>
			<div id="mult-choice-fontselect" class="fontSelect">
				<div class="arrow-down"></div>
			</div>
			<span style='margin-left: 6px'>
				<b style='font-size: 13px;'>Question Size:</b><input id = 'mult-choice-q-font-size' type="text" placeholder="16">px
			</span>
			</br>
			<span style='margin-left: 6px'>
				<b style='font-size: 13px;'>Answer Size:</b><input id = 'mult-choice-a-font-size' type="text" placeholder="16">px
			</span>
		</div>
	</div>
</div>
<div class="divTable">
	<div class="divTableBody">				
		<div class="divTableRow">
			<div class="divTableCell" style="width: 80px;">&nbsp;</div>
			<div class="divTableCell" style="margin-top: 5px; margin-right: 10px; float: right;" align="right">
				<button id="mult-choice-confirm" style="width: 75px; height: 25px; padding: 3px;">OK</button>
				<button id="mult-choice-cancel" style="width: 75px;  height: 25px; padding: 3px;">Cancel</button>
			</div>
		</div>				
	</div>
</div>