	<img class="windowclose" src="css/images/icon_close.png" style="margin: 0px; padding: 3px; width: 20px; height: 20px; float: right;">
	<h4 class="title" style="margin: 5px;">Edit Text</h4>	
	<div class="content" style="clear: right; height: 90%; width: 97%;">
		<textarea id='text-editor-input' style="width: 100%; height: 100%"></textarea>
	</div>
	<div class="divTable">
		<div class="divTableBody">				
			<div class="divTableRow">
				<div class="divTableCell">
					<div id="text-edit-fontselect" class="fontSelect" style = 'padding-right: 0px'>
						<div class="arrow-down"></div>
					</div>
					<div id="text-edit-font-size-cont">
						<span>
							Font Size:<input type="text" id="text-editor-font-size" style="height: 25px; width: 35px; padding: 3px;">px
						</span>
						<span>
							<button id="text-editor-bold"><b>B</b></button>
							<button id="text-editor-italic"><i>I</i></button>
						</span>
					</div>
					<button id="text-editor-cancel" >Cancel</button>
					<button id="text-editor-confirm" >OK</button>
				</div>
			</div>				
		</div>
	</div>
