.desktop
{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	padding: 0px; 
	margin: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 0;
	
	background: url('images/background.jpg') no-repeat center top;
	background-size: 100% 100%;	
}

.desktop_icon
{
	display: table;		
	border-collapse: collapse;
}
 
.desktop_icon .desktop_icon_row 
{
	display: table-row;
	/*border: 1px solid red;*/
}	

.desktop_icon .icon
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 4px;
	/*border: 1px solid black;*/
}	

.desktop_label
{
	text-shadow:1px 1px 1px rgba(143,143,143,1);
	font-weight:normal;
	color:#000000;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size:12px;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
	padding: 4px;
}

.desktop_icon_highlighted
{
	border: 1px solid #dddddd;
	background: rgba(63, 191, 191, 0.1);
}

.accountstatus
{
    position: fixed;
    bottom: 0;
    right: 0;
	
	padding: 4px;
	
	color: rgb(25,25,25);
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	text-decoration: inherit;
	text-align: center;

	line-height: 0.95em;
	text-shadow: 0px 0px 1px rgb(89,89,89);
 }