.flexbox-container 
{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > .columnwest 
{
	width: 50%;
	padding: 10px;
	flex: .40;
}

.flexbox-container > .columneast 
{
	margin-right: 20px;
	flex: .60;
}	

.flexbox-container > .columnleft
{
	width: 33%;
	padding: 10px;
}

.flexbox-container > .columncenter 
{
	width: 33%;
	padding: 10px;
}	

.flexbox-container > .columnright
{
	width: 33%;
	padding: 10px;
}

.flex-box .col
{
	border: 1px solid green;
	padding: 12px;
	overflow-y: auto;
	overflow-x: hide;
}

.handle 
{
	background-image: url(images/vgrabber.gif); 
	background-repeat: no-repeat;
	background-position: center; 
	text-align: center;
	width: 5px;
	color: white;  
	transition: all ease-in 0.1s;
	padding: 1px;
	margin: 0px;
}

.draggable { background: #eeeeee; }	
