     <!-- question-block class: {% if self.user_choice %}class="attempted {%if self.correct %}correct{% else %}incorrect{% endif %}"{% endif %} -->
    

<div id="border">
    <div class="course_info" hidden>{{self.section}}+{{self.subsection}}+{{self.unit}}+{{self.nextUnit}}+{{self.preUnit}}</div>
    <span class="skillname" hidden>{{ self.kc }}</span>
    <br/>
    <h3 class="hd hd2 problem-header" style="font-family: Times; font-size: 28px; line-height: 130%">{{self.display_name}}</h3>
    <br/>
    <form id="question-block">
    <p style="font-family: Times; font-size: 25px; line-height: 130%">{{ self.question | safe}}</p>
    <div id="choices">
      {% if self.image_url != '' %}
        <img src="{{self.image_url}}" style="width: {{self.image_size}}" />
      {% endif %}
       <fieldset role="radiogroup" aira-label>
        {% for choice in self.choices %}
        <div>
           <!-- label class:{% if forloop.counter == self.user_choice %}user-choice{% endif %}
           {% if self.user_choice and forloop.counter == self.correct_choice %} correct-choice{% endif %} -->
            
                <label style="font-family: Times; font-size: 20px; line-height: 130%">
                   <input id="mcqs_radio_{{ forloop.counter }}" type="radio" name="choice" value="{{ forloop.counter }}"
                    {% if self.user_choice = forloop.counter %}checked="checked"{% endif %} />
                   {{ choice | safe}}
                    <!-- <i class="tick">&nbsp;&nbsp;&nbsp;  &#x2713;</i>
                    <i class="ballot">&nbsp;&nbsp;&nbsp; &#10006;</i> -->
                </label>
        </div>
        {% endfor %}
        </fieldset>
    </div>
    <br/>

    <div class="hint-block">
        <span id='hintImg' title="Get Hint"></span>
        <span id='hint' style="font-family: Times; font-size: 19px;"></span>
    </div>
    <br/>
    <input type="button" id="submit" value="Check" question-type="mcqs" attempt="0" hintCount="0" {% if self.iso %} name="iso_type" data-type="iso" attempt="0" hintCount="0" onclick="dosomething.call(this)" {% endif %}/>
    &nbsp; &nbsp;
        {%if self.iso %}
        <script>
            function dosomething() {

                //this.attempt = this.attempt + 1;
                console.log("attempt", this.attempt);
                var construct_obj = {
                    attempt: this.attempt,
                    hintCount: this.hintCount,
                    session_id: "{{self.session_id}}",
                    problem_id: "{{self.problemId}}",
                    correct_choice: "{{self.correct_choice}}",
                    hint: "{{self.hint}}",
                    kc: "{{self.kc}}",
                    condition: "{{self.condition}}",
                    school: "{{self.school}}",
                    className: "{{self.className}}",
                    cf_course: "{{self.scope_ids.usage_id.course_key}}",
                    cf_section: "{{self.section}}",
                    cf_subsection: "{{self.subsection}}",
                    cf_unit: "{{self.unit}}",
                    cf_userRuntimeId: "{{self.runtime.user_id}}",
                    cf_pastel_id: "{{self.pastel_student_id}}",
                    cf_question: "{{self.question}}",
                    cf_choices: "{{self.choices}}"
                };
                var mcqs_elements = $("input[id='submit'][question-type='mcqs']");
                for(var i = 0; i < mcqs_elements.length; i++) {
                    if($(mcqs_elements[i]).attr("data-type") != "iso") {
                        $(mcqs_elements[i]).trigger("click", ["iso", construct_obj]);
                        break;
                    }
                }

            }

        </script>
        {% endif %}
    {% if self.hint != '' %}
    <input type="button" id="getHint" value="Hints" />
    {% endif %}
 </form>
 

</div>

<!--
<a href="#popupVideo" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline">Launch video player</a>
<div data-role="popup" id="popupVideo" data-overlay-theme="b" data-theme="a" data-tolerance="15,15" class="ui-content">
    <iframe src="http://0.0.0.0:8000/courses/course-v1:UniversityX+CS101+2015_T1/courseware/1732cfbba53847a9a5b87f21ac4e3654/d2631d1200b14a1eabb7d8416405ab06/3?activate_block_id=block-v1%3AUniversityX%2BCS101%2B2015_T1%2Btype%40vertical%2Bblock%4021f62d5133db42e9b0605f466d2b3800#718971fd6f624c8aab8b60d70601e450"width="497" height="298" seamless=""></iframe>
</div>-->